{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<style>
    #intro_menu {
        color: #1c2d3f;
    }

    #profile_menu {
        color: #1c2d3f;
    }

    #home_menu {
        color: #1c2d3f;
    }

    #member_menu {
        color: #1c2d3f;
    }

    #manuscript_menu {
        color: #1c2d3f;
    }

    #Contact_menu {
        color: #1c2d3f;
    }
</style>
<section id="boardMember" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Editorial Board Members</h1>
            </div>
        </div>
        <div class="row">
            <div style="font-size: 18px;color: #1b1e21; text-align: justify">
                <ol>
                    <li>Abu N. M. Waheeduzzaman, Ph.D. Texas A&M University-Corpus Christi, USA</li>
                    <li>Professor Basav Roychoudhury, Ph.D. Indian Institute of Management (IIM), India</li>
                    <li>Professor Rahim Quazi, Ph.D. Prairie View A&M University – Texas, USA</li>
                    <li>Professor Nayem Rahman, Ph.D. Portland State University, USA</li>
                    <li>Professor Md. Akram Hossain, Ph.D. University of Dhaka, Bangladesh</li>
                    <li>Professor Md. Motaher Hossain, Ph.D. Jahangirnagar University, Bangladesh</li>
                    <li>Professor Rahim B. Talukdar, Ph.D. BRAC University, Bangladesh</li>
                    <li>Professor Md. Golam Samdani Fakir, Ph.D. Green University</li>
                    <li>Professor Abul HMG Azam, Ph.D. North South University, Bangladesh</li>
                    <li>Professor Engr. Ayub Nabi Khan, Ph.D. BGMEA University of Fashion & Technology, Bangladesh</li>
                    <li>Professor Malabika Sarkar, Ph.D. JPGSPH BRAC University</li>
                    <li>Professor Md. Mohan Uddin, Ph.D. United International University, Bangladesh</li>
                    <li>Sharmin Shabnam Rahman, Ph.D. BRAC University</li>
                    <li>Sardana Khan, Ph.D. Central Queensland University, Australia</li>
                    <li>Mohammad Salahuddin, Ph.D. University of Southern Queensland, Australia</li>
                    <li>Abdulsamad Alazzani, Ph.D. Qatar University, Qatar</li>
                    <li>Md. Anwarul Kaium Patwary, Ph.D. University of Western Australia, Australia</li>
                    <li>Mohammad Ali, Ph.D. Jangxi Science & Technical University, China</li>
                    <li>Khaled Ba-Abbad, Ph.D. Hadhramout University, Yemen.</li>
                    <li>Md. Shakawat Hossain, Ph.D. Jagannath University</li>
                    <li>Abdelfatah Mohammad Alrshah, Ph.D. Alasmarya Islamic University, Libya</li>
                    <li>Tamzidul Islam, Ph.D. American International University Bangladesh, Bangladesh</li>
                    <li>Quazi Shahabuddin, Ph.D. Ex Director General, BIDS, Bangladesh</li>
                    <li>Zahurul Alam, Ph.D. Ex Head of Governance Portfolio UNDP, Bangladesh</li>
                    <li>Prasit Rattanaphan, Ph.D. Independent scholar and consultant, Thailand</li>
                    <li>Mohammed Zillur Rahman, Ph.D. Academician & Business Consultant</li>
                    <li>Tarun Tapan Dhar, Ph.D. Academician & Independent Consultant</li>
                    <li>Mst Tasqurun Nesa, Ph.D. Asian University Bangladesh, Bangladesh</li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% endblock %}