{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<style>
    #intro_menu {
        color: #1c2d3f;
    }

    #profile_menu {
        color: #1c2d3f;
    }

    #home_menu {
        color: #1c2d3f;
    }

    #member_menu {
        color: #1c2d3f;
    }

    #manuscript_menu {
        color: #1c2d3f;
    }

    #Contact_menu {
        color: #1c2d3f;
    }
</style>
<section id="contact" class="gray-section contact" style="height: 100%">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <p class="m-t-sm" style="color: black">Email Address: jsqe@csqebd.org</p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:jsqe@csqebd.org" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
{% endblock %}