{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <style>
        #intro_menu{
            color: #1c2d3f;
        }
        #profile_menu{
            color:  #1c2d3f;
        }
        #home_menu{
            color:  #1c2d3f;
        }
        #member_menu{
            color:  #1c2d3f;
        }
        #manuscript_menu{
            color:  #1c2d3f;
        }
        #Contact_menu{
            color: #1c2d3f;
        }
    </style>

    <section id="manuscript" class="gray-section team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Manuscript Submission Guidelines</h1>

                </div>
            </div>
            <div class="row">
                <div>
                    <h1> How to submit your article:</h1>
                    <p><span style="color:#000000">
                    JSQE invites scholars, researchers, academicians as well as industry practitioners from all over the world to send their research works by email to jsqe@csqebd.org. Our editorial staff members will contact you, in a very short time, with the updates on your article’s review process and the stage it is in.
                </span></p>
                    <p><span style="color:#000000">Journal for Service Quality Enhancement (JSQE) serves as a venue for the dissemination of high-quality research, scholarship, and practices. Our publishing program is committed to diversity and inclusion. We welcome submissions from a wide variety of authors from around the world.</span></p>

                    <p><span style="color:#000000"><strong>Pre-submission: helping readers find your article</strong></span></p>

                    <p><span style="color:#000000">Before submitting the manuscript, give your title, keywords, and abstract a good look-over. These elements ensure that your article can be found on Search Engine Result Pages (SERPs). A simple way to raise the visibility of your article is to include a cross-link that will ensure proper indexing and ranking and providing full names for all authors.&nbsp;</span></p>

                    <p><span style="color:#000000"><strong>Submitting your article</strong></span></p>

                    <p><span style="color:#000000">JSQE has its own editorial office and guidelines for authors. To submit an article, visit the JSQE website. There you will find our general guidelines for authors. Follow the journal&#39;s guidelines, as each issue will have its specific requirements, and direct all submission queries to the editorial office.&nbsp;</span></p>

                    <p><span style="color:#000000"><strong>Editorial policies</strong></span></p>

                    <p><span style="color:#000000"><strong>Peer-review policy</strong></span></p>

                    <p><span style="color:#000000">As standard practice, JSQE does not employ author-recommended reviewers. When nominating an expert to review your manuscript, it is imperative that the reviewer be an expert in the field and provide an unbiased review. When recommending reviewers, exercise due caution regarding conflicts of interest. Examples of conflicts of interest include (but are not limited to):&nbsp;</span></p>

                    <ul>
                        <li style="list-style-type:disc"><span style="color:#000000">The reviewer should have no prior knowledge of your submission.</span></li>
                        <li style="list-style-type:disc"><span style="color:#000000">Reviewers shouldn&#39;t have worked with the authors recently.</span></li>
                        <li style="list-style-type:disc"><span style="color:#000000">A reviewer from the same institution as the authors is prohibited.</span></li>
                    </ul>

                    <p><span style="color:#000000">Note that, there is no obligation for journal editors to pick your published manuscript for review by any recommended or opposing reviewers.</span></p>

                    <p><span style="color:#000000"><strong>Authorship</strong></span><br />
                        <span style="color:#000000">All authors whose work contributed to the paper should be credited. Contributors who have provided sufficient information should also be listed as authors of the article. Principal authorship, order of authorship, and all other publication credits are proportional to the relative contributions of each individual involved, regardless of their status.&nbsp;</span></p>

                    <p><span style="color:#000000">All those who have a legitimate claim must be included in the list of authors. This includes individuals who:</span></p>

                    <ol>
                        <li style="list-style-type:decimal"><span style="color:#000000">Significantly contributed to the design of the work; and/or acquired, interpreted, or analyzed data.</span></li>
                        <li style="list-style-type:decimal"><span style="color:#000000">Reviewed or drafted the article for essential intellectual content.</span></li>
                        <li style="list-style-type:decimal"><span style="color:#000000">Approved the version to be published.</span></li>
                        <li style="list-style-type:decimal"><span style="color:#000000">Assures that the work is reviewed and investigated thoroughly in case a question about its accuracy arises.</span><span style="color:#980000">&nbsp;</span></li>
                    </ol>

                    <p><span style="color:#000000">Authors must meet all of the conditions outlined above. Each author must have made a significant contribution to the content so that they can take public liability for relevant portions.&nbsp;</span></p>

                    <p><span style="color:#000000">In large multicenter studies, it is up to the group to identify who will be responsible for the manuscript. These individuals should fully meet the authorship criterion.</span></p>

                    <p><span style="color:#000000"><strong>Corresponding author</strong></span><br />
                        <span style="color:#000000">The corresponding author is the individual who acts as the journal&rsquo;s primary point of contact during the manuscript submission, review process, and publication process, and guarantees that the journal adheres to its administrative requirements. These include, but are not limited to, providing details of authorship, ethics committee approval, and collecting conflict of interest forms and statements. Also, they should make sure that these tasks are carried out correctly. However, if the need arises, they can delegate these duties to one or more co-authors.</span></p>

                    <p><span style="color:#000000">The corresponding author is responsible for signing the publishing contract on behalf of all of the authors and is the one whose contact details appear on the article.&nbsp;</span></p>

                    <p><span style="color:#000000">After publication, authors must immediately respond to any criticism of the paper from the journal editors and also cooperate if JSQE requests further data or information.</span></p>

                    <p><span style="color:#000000"><strong>Third party submissions&nbsp;</strong></span><br />
                        <span style="color:#000000">Where an individual who is not listed as an author submits a manuscript on behalf of the author(s), a statement must be included in the Acknowledgements section of the manuscript and the accompanying cover letter. The statements must:&nbsp;</span></p>

                    <ul>
                        <li style="list-style-type:disc"><span style="color:#000000">Disclose this type of editorial assistance &ndash; including the individual&rsquo;s name, company and level of input.</span></li>
                        <li style="list-style-type:disc"><span style="color:#000000">Identify any entities that paid for this assistance.</span></li>
                        <li style="list-style-type:disc"><span style="color:#000000">Confirm that the listed authors have authorized the submission of their manuscript via a third party and approved any statements or declarations, e.g. conflicting interests, funding, etc.&nbsp;</span></li>
                    </ul>

                    <p><span style="color:#000000">Where appropriate, JSQE reserves the right to deny consideration to manuscripts submitted by a third party rather than by the authors themselves.&nbsp;</span></p>

                    <p><span style="color:#000000">For research articles, authors are also required to state in the methods section whether participants provided informed consent and whether the consent was written or verbal.</span></p>

                    <p><span style="color:#000000">Information on informed consent to report individual cases or case series should be included in the manuscript text. A statement is required regarding whether written informed consent for patient information and images to be published was provided by the patient(s) or a legally authorized representative.</span></p>

                    <p><span style="color:#000000"><strong>Publishing Policies</strong></span></p>

                    <p><span style="color:#000000"><strong>Publication ethics</strong></span><br />
                        <span style="color:#000000">JSQE is committed to upholding the integrity of the academic record.&nbsp;</span></p>

                    <p><span style="color:#000000"><strong>Plagiarism</strong></span></p>

                    <p><span style="color:#000000">JSQE takes issues of copyright infringement, plagiarism or other breaches of best practice in publication very seriously. We seek to protect the rights of our authors and we always investigate claims of plagiarism or misuse of published articles. Equally, we seek to protect the reputation of the journal against malpractice. Submitted articles may be checked with duplication-checking software. Where an article, for example, is found to have plagiarized other work or included third-party copyright material without permission or with insufficient acknowledgement, or where the authorship of the article is contested, we reserve the right to take action including, but not limited to: publishing an erratum or corrigendum (correction); retracting the article; taking up the matter with the head of department or dean of the author&#39;s institution and/or relevant academic bodies or societies; or taking appropriate legal action.</span></p>

                    <p><span style="color:#000000"><strong>Previous distribution and/or publication</strong></span></p>

                    <p><span style="color:#000000">The author should disclose any prior distribution and/or publication of any portion of the material, including where the article has been shared as a preprint, to the Editor for the Editor&rsquo;s consideration and ensure that appropriate attribution to the prior distribution and/or publication of the material is included. Note that some journals will not consider submissions that have been previously shared as a preprint. Additionally, for journals using a double-anonymized peer review process, if your submission has been shared, the submission and its author list may be discovered by reviewers.&nbsp;</span></p>

                    <p><span style="color:#000000"><strong>Contributor&rsquo;s publishing agreement</strong></span></p>

                    <p><span style="color:#000000">Before publication, JSQE requires the author as the rights holder to sign a Journal Contributor&rsquo;s Publishing Agreement. JSQE&rsquo;s Journal Contributor&rsquo;s Publishing Agreement for traditional subscription journals is an exclusive license agreement which means that the author retains copyright in the work but grants JSQE the sole and exclusive right and license to publish for the full legal term of copyright.&nbsp;</span></p>

                    <p><span style="color:#000000"><strong>Permissions</strong></span></p>

                    <p><span style="color:#000000">Authors and researchers are responsible for obtaining permission from copyright holders for reproducing any illustrations, tables, figures, or lengthy quotations previously published elsewhere.&nbsp;</span></p>

                    <p><span style="color:#000000"><strong>Preparing your manuscript</strong></span></p>

                    <p><span style="color:#000000">Where a journal uses double-blind peer review, authors are required to submit a fully anonymized manuscript with a separate title page.&nbsp;</span></p>

                    <p><span style="color:#000000"><strong>Formatting your article</strong></span><br />
                        <span style="color:#000000">When formatting your references, please ensure you check the reference style followed by the&nbsp;</span><a href="https://us.sagepub.com/sites/default/files/apa_style_november_2019.pdf" style="text-decoration:none"><span style="color:#000000"><u>APA&nbsp;</u></span></a><span style="color:#000000">reference style.</span></p>

                    <p><span style="color:#000000"><strong>Microsoft Word guidelines</strong></span><br />
                        <span style="color:#000000">You need to follow a few specific guidelines when formatting your article. They are;</span></p>

                    <ol>
                        <li style="list-style-type:decimal"><span style="color:#000000">Times New Roman is our preferred font.</span></li>
                        <li style="list-style-type:decimal"><span style="color:#000000">The font assize should be 12.</span></li>
                        <li style="list-style-type:decimal"><span style="color:#000000">All standard paragraph should be justified.</span></li>
                        <li style="list-style-type:decimal"><span style="color:#000000">Please ensure your heading levels are clear.</span></li>
                        <li style="list-style-type:decimal"><span style="color:#000000">The sections are clearly defined.</span></li>
                    </ol>

                    <ul>
                        <li style="list-style-type:disc"><span style="color:#000000"><strong>Format:</strong></span><span style="color:#000000">&nbsp;TIFF, JPEG: Common format for pictures (containing no text or graphs).</span><br />
                            <span style="color:#000000"><strong>Placement:</strong></span><span style="color:#000000">&nbsp;Figures/charts and tables created in MS Word should be included in the main text rather than at the end of the document.</span><br />
                            <span style="color:#000000">Figures and other files created outside Word (i.e. Excel, PowerPoint,&nbsp;JPG, TIFF, and EPS) should be submitted separately. Please add a placeholder note in the running text (i.e. &ldquo;[insert Figure 1.]&quot;)</span></li>
                    </ul>

                    <ul>
                        <li style="list-style-type:disc"><span style="color:#000000"><strong>Color:</strong></span><span style="color:#000000">&nbsp;Please note that images supplied in color will be published in color online and black and white in print (unless otherwise arranged). Therefore, it is important that you supply images that are comprehensible in black and white as well (i.e. by using color with a distinctive pattern or dotted lines). The captions should reflect this by&nbsp;</span><span style="color:#000000"><strong>not</strong></span><span style="color:#000000">&nbsp;using words indicating color.</span></li>
                    </ul>

                    <ul>
                        <li style="list-style-type:disc"><span style="color:#000000"><strong>Dimension:&nbsp;</strong></span><span style="color:#000000">Check that the artworks supplied match or exceed the dimensions of the journal. Images&nbsp;</span><span style="color:#000000"><strong>cannot</strong></span><span style="color:#000000">&nbsp;be scaled up after origination</span></li>
                    </ul>

                    <p><span style="color:#000000"><strong>Image Integrity</strong></span></p>

                    <p><span style="color:#000000">Figures should be minimally processed and should reflect the integrity of the original data in the image. Adjustments to images in brightness, contrast, or color balance should be applied equally to the entire image, provided they do not distort any data in the figure, including the background. Selective adjustments and touch-up tools used on portions of a figure are not appropriate. Images should not be layered or combined into a single image unless it is stated that the figure is a product of time-averaged data. All adjustments to the image data should be clearly disclosed in the figure legend. Images may be additionally screened to confirm faithfulness to the original data. Authors should be able to supply raw image data upon request. Authors should also list tools and software used to collect image data and should document settings and manipulations in the Methods section.</span></p>

                    <p><span style="color:#000000"><strong>JSQE Author Services</strong></span></p>

                    <p><span style="color:#000000">Authors seeking assistance with English language editing, translation with editing, or figure and manuscript formatting, to fit the journal&rsquo;s specifications should consider using JSQE Author Services. To avail of those services, you are requested to communicate with our editorial office.&nbsp;&nbsp;</span></p>

                    <p><span style="color:#000000"><strong>Submitting your manuscript</strong></span></p>

                    <p><span style="color:#000000"><strong>How to submit your manuscript</strong></span></p>

                    <p><span style="color:#000000">Researchers and authors are requested to submit their article by email to </span><a href="mailto:jsqe@csqebd.org" style="text-decoration:none"><span style="color:#0000ff"><u>jsqe@csqebd.org</u></span></a><span style="color:#000000">&nbsp;</span></p>

                    <p><span style="color:#000000">The articles should be addressed to Editorial Office.&nbsp;</span></p>
                    <p><span style="color:#000000"><strong>Video abstracts</strong></span><br />
                        <span style="color:#000000">Some journals accept video abstracts (please check the submission guidelines of your chosen journal). Read our guidelines on&nbsp;</span><a href="https://us.sagepub.com/sites/default/files/sage_video_abstract-external_guidelines.pdf" style="text-decoration:none"><span style="color:#000000"><u>how to produce a video abstract.</u></span></a></p>

                    <p><span style="color:#000000"><strong>On acceptance and publication</strong></span></p>

                    <p><span style="color:#000000"><strong>JSQE Production</strong></span><br />
                        <span style="color:#000000">Your JSQE Editorial Office will keep you informed as to your article&rsquo;s progress throughout the production process. Proofs will be sent by PDF to the corresponding author and should be returned promptly.</span></p>

                    <p><span style="color:#000000"><strong>Access to your published article</strong></span><br />
                        <span style="color:#000000">JSQE provides authors with online access to their final article.</span></p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

